@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Topics

@inject IWorkContext workContext
<div style="display:flex;width:100%;padding-left:7%;padding-right:7%">
	<div class="field field-name-field-bloc-doitac field-type-text-with-summary field-label-hidden view-mode-full" style="width:50%;background-color:#dedbdb36">
	<div class="field-items">
		<div class="field-item even">
			<div class="career">
				<h2><strong>Tập đoàn Mori</strong></h2>
				<p>Là đối tác chính hợp tác với Nicon</p>
			</div>
		</div>
	</div>
</div>
	<div class="field field-name-field-bloc-doitac-right field-type-text-with-summary field-label-hidden view-mode-full" style="width:50%">
	<div class="field-items">
		<div class="field-item even">
			<div class="image">
				<div class="field field-name-field-vignette-dd field-type-image field-label-hidden view-mode-full">
					<div class="field-items">
						<figure class="clearfix field-item even">
							<img style="width:100%;height:100%"
								 class="image-style-logo-mori"
									 src="/Themes/DefaultClean/Content/images/0005750.jpeg"
								 width="58%" height="140" alt="">
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div style="display:flex;width:100%;padding-left:7%;padding-right:7%"> 
	<div class="field field-name-field-bloc-dp-texte field-type-text-with-summary field-label-hidden view-mode-full" style="width:50%">
		<div class="field-items">
			<div class="field-item even">
				<div class="image">
					<div class="field field-name-field-vignette-dd field-type-image field-label-hidden view-mode-full">
						<div class="field-items">
							<figure class="clearfix field-item even">
								<img typeof="foaf:Image"
									 class="image-style-445-210"
									 src="/Themes/DefaultClean/Content/images/0005153.png"
									 width="250" height="100" alt="" style="height: 50%;
    width: 50%;
    margin: 51px;
    margin-left: 22%;
">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="field field-name-field-bloc-carri-res field-type-text-with-summary field-label-hidden view-mode-full" style="width:50%;background-color:#dedbdb36">
		<div class="field-items">
			<div class="field-item even">
				<div class="career" style="margin:40px;">
					<h2><strong>Với phương châm :</strong></h2>
					<p>
						“Khách hàng là tài sản của Công ty”, Nicon đặt
						mối quan tâm hàng đầu chất lượng cung cấp, đề ra
						chính sách chất lượng chặt chẽ và rõ ràng.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sc-kJpAUB dVFObO" style="padding-left:7%;padding-right:7%">
	<link href="~/Themes/DefaultClean/Content/css/homepage.css" rel="stylesheet" />
	<link href="~/Themes/DefaultClean/Content/css/fonts.css" rel="stylesheet" type="text/css" />
	<link href="~/Themes/DefaultClean/Content/css/tintuc.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/khach-hang.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/congtrinh.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/chitiet-chienluoc.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/css_3.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/css_2.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/css_4.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/css_5.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/css_6.css" rel="stylesheet" type="text/css">
	<link href="~/Themes/DefaultClean/Content/css/nicon-home.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="~/Themes/DefaultClean/Content/css/search.css">
	<div class="position-relative d-flex justify-content-center align-items-center w-100">
		<span class="w-100 lazy-load-image-background blur lazy-load-image-loaded"
			  style="color: transparent; display: inline-block;">
			<img src="/Themes/DefaultClean/Content/images/0005758.jpeg" alt="Our Brands" title="Our Brands" class="footer-image" style="height: 311px">
		</span>
		<div class="footer-content-container container" style="background-color:#FFFFFFB3;height: 310px;">
			<h2 style="margin-top: 0; margin-bottom: 8px; font-family: 'Roboto', sans-serif; font-size: 30px; line-height: 32px; font-weight: 300; color: #000; margin: 61px 0 24px; text-align: center; text-transform: inherit;">
				Đối Tác của
				<span style="color:red">Sự Phát Triển!</span>
			</h2>

			<p style="font-family: 'Roboto', sans-serif;
   font-size: 19px;
   line-height: 22px;
   font-weight: 300;
   color: #000;
   margin: 0 auto;
   max-width: 80%;
   text-align: center;">
				Chúng tôi luôn tâm niệm sẽ là Đối tác tốt cho sự phát
				triển của quý khách thông qua việc thiết kế và xây
				dựng các nhà máy với chất lượng tốt nhất và chi phí
				hợp lý nhất, vì đây là một trong những bước quan
				trọng quyết định đến sự phát triển bền vững của mỗi
				nhà sản xuất cũng như nhà đầu tư.
			</p>

			<p style="font-family: 'Roboto', sans-serif;
   font-size: 19px;
   line-height: 22px;
   font-weight: 300;
   color: #000;
   margin: 0 auto;
   max-width: 80%;
   text-align: center;">
				<a class="mon-lien-plus" style="    background: url(../images/images-home/oeil.png) no-repeat left center;
    display: inline-block;
    font-family: 'robotocondensed', sans-serif;
				   font-size: 16px;
				   line-height: 22px;
				   font-weight: normal;
				   color: #000 !important;
				   text-decoration: none;
				   padding: 0 0 0 27px;
				   margin: 30px 0px 20px -22px;"
				   href="http://nicon.com.vn/companypartnerofmap">
					Vị
					trí và dự án của chúng tôi
				</a>
			</p>

		</div>
	</div>
</div>
@* <div class="sc-kJpAUB dVFObO" style="padding-bottom:21px">
	<div class="position-relative d-flex justify-content-center align-items-center w-100">
		<span class="w-100 lazy-load-image-background blur lazy-load-image-loaded"
			  style="color: transparent; display: inline-block;">
			<img src="/Themes/DefaultClean/Content/images/home-mvl-more-footer-bg.png" alt="Our Brands" title="Our Brands" class="footer-image">
		</span>
		<div class="footer-content-container container">
			<div class="footer-content__heading text-center" style="font-family: Be Vietnam Pro;">
				Đăng kí thành viên MORE, tối đa trải nghiệm
			</div>
			<div class="footer-content__description text-center">
				Là thành viên chương trình MORE, bạn có thể tích luỹ số đêm trải nghiệm tại M
				Village để tận hưởng
				các quyền lợi độc quyền như nhận phòng sớm, trả phòng muộn và miễn phí nâng hạn
				phòng ở 33 khách sạn
				tại Hồ Chí Minh, Hà Nội và Đà Nẵng.
			</div>
			<div class="footer-content__actions text-center">
				<a class="action-text" style="color:rgb(241, 106, 36);">
					Tham gia M Village MORE
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
						 style="color: rgb(241, 106, 36);">
						<path d="M6.00012 18L18.0001 6" stroke="currentColor" stroke-width="3"
							  stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M8.25 6H18V15.75" stroke="currentColor" stroke-width="3" stroke-linecap="round"
							  stroke-linejoin="round"></path>
					</svg>

				</a>
				<a class="action-text" style="color:rgb(241, 106, 36);">
					Tải ứng dụng
					<span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
							 xmlns="http://www.w3.org/2000/svg" style="color: rgb(241, 106, 36);">
							<path d="M6.00012 18L18.0001 6" stroke="currentColor" stroke-width="3"
								  stroke-linecap="round" stroke-linejoin="round">
							</path>
							<path d="M8.25 6H18V15.75" stroke="currentColor" stroke-width="3" stroke-linecap="round"
								  stroke-linejoin="round"></path>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</div>
</div> *@
<footer id="footer" class="clearfix" role="contentinfo">
	<div class="region region-footer">
		<div class="region-inner clearfix">
			<div class="footer-container" style="margin-left:7%">
				<div id="block-block-1"
					 class="block block-block no-title odd first last block-count-1 block-region-footer block-1">
					<div class="block-inner clearfix">
						<div class="block-content content">
							<p>
								<a class="logo-footer" href="http://nicon.com.vn/" title="Home">
									<img class="image-style-none" src="/Themes/DefaultClean/Content/images/z5815621211914_19205f3b0285e45489744c73daa3c379.jpg"
										 alt="Bouygues Construction">
								</a>
							</p>


















						</div>
					</div>
				</div>
				<div id="block-menu-menu-menu-footer"
					 class="block block-menu no-title even block-count-2 block-region-footer block-menu-menu-footer"
					 role="navigation">
					<div class="block-inner clearfix">
						<div class="block-content content">
							<ul class="menu menu-footer clearfix">
								<li class="first leaf color-default menu-depth-1 menu-item-686">
									<a href="http://nicon.com.vn/">Trang Chủ</a>
								</li>
								<li class="leaf color-default menu-depth-1 menu-item-1840">
									<a href="http://nicon.com.vn/introduction">Giới thiệu</a>
								</li>
								<li class="leaf color-default menu-depth-1 menu-item-689">
									<a href="http://nicon.com.vn/sitemap" title="">Site map</a>
								</li>
								<li class="leaf color-default menu-depth-1 menu-item-685">
									<a href="http://nicon.com.vn/recruitment">Tuyển dụng</a>
								</li>
								<li class="leaf color-default menu-depth-1 menu-item-685">
									<a href="http://nicon.com.vn/contactus">Liên hệ</a>
								</li>
								<li class="leaf color-default menu-depth-1 menu-item-685 view-visitor">
									<a>
										Views
										: 1026423
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
@* <div class="footer1">
	<link href="~/Themes/DefaultClean/Content/css/homepage.css" rel="stylesheet" />
	 <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet"/>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
	<div class="sc-fTxOGA LEOYk">
		<div class="sc-BHvUt jVGtjY">
			<div class="sc-bjeSbO SZuKi shareThought">
				<div>
					<div class="title-2-semi-bold-white">
						Trải nghiệm của bạn tại M VILLAGE rất
						quan trọng với chúng
						tôi
					</div>
					<div class="body-1-regular-c9cbcc">
						Chia sẻ suy nghĩ của bạn để chúng tôi có
						thể tạo ra trải
						nghiệm tốt hơn cho bạn lần sau
					</div>
				</div>
				<button class="body-2-medium-f16a24">
					<a href="https://www.messenger.com/t/mvillagecoliving">
						Chia
						sẻ
						suy nghĩ của bạn
					</a>
				</button>
			</div>
			<div class="sc-bjeSbO SZuKi hotlineEmail">
				<div class="hotline-email-wrapper">
					<span class=" lazy-load-image-background blur lazy-load-image-loaded"
						  style="color: transparent; display: inline-block; height: 46px; width: 46px;">
						<img src="/Themes/DefaultClean/Content/images/hotline-4.png" width="46" height="46" alt="Hotline">

					
					</span>
					<div class="email-hotline-content">
						<div class="body-2-regular-white">Hotline</div>
						<div class="title-2-semi-bold-white">
							<a href="tel:1900 3311">
								1900
								3311
							</a>
						</div>
					</div>
				</div>
				<div class="hotline-email-wrapper">
					<span class=" lazy-load-image-background blur lazy-load-image-loaded"
						  style="color: transparent; display: inline-block; height: 46px; width: 46px;">
						<img src="/Themes/DefaultClean/Content/images/email-4.png" width="46" height="46">
					</span>
					<div class="email-hotline-content">
						<div class="body-2-regular-white">Email</div>
						<div class="title-2-semi-bold-white">
							<a href="mailto:booking@mvillage.vn">booking@mvillage.vn</a>
						</div>
					</div>
				</div>
			</div>
			<div class="sc-bjeSbO SZuKi followUsVia">
				<div class="title-2-semi-bold-white">Theo dõi chúng tôi qua</div>
				<div class="social-media-container">
					<a href="https://www.facebook.com/Mvillagecoliving">
						<span class=" lazy-load-image-background blur lazy-load-image-loaded"
							  style="color: transparent; display: inline-block; height: 50px; width: 50px;">
							<img src="/Themes/DefaultClean/Content/images/facebook-outline.svg" width="50" height="50" alt="facebook"
								 title="facebook">
						</span>
					</a>
					<a href="https://www.instagram.com/mvillage_hotel">
						<span class=" lazy-load-image-background blur lazy-load-image-loaded"
							  style="color: transparent; display: inline-block; height: 50px; width: 50px;">
							<img src="/Themes/DefaultClean/Content/images/instagram-outline.svg" width="50" height="50" alt="instagram"
								 title="instagram">
						</span>
					</a>
					<a href="https://www.tiktok.com/mvillagevietnam">
						<span class=" lazy-load-image-background blur lazy-load-image-loaded"
							  style="color: transparent; display: inline-block; height: 50px; width: 50px;">
							<img src="/Themes/DefaultClean/Content/images/tiktok-outline.svg" width="50" height="50" alt="tiktok" title="tiktok">
						</span>
					</a>
					<a href="https://www.linkedin.com/company/mvillagevietnam/">
						<span class=" lazy-load-image-background blur lazy-load-image-loaded"
							  style="color: transparent; display: inline-block; height: 50px; width: 50px;">
							<img src="/Themes/DefaultClean/Content/images/linkedin-outline.svg" width="50" height="50" alt="linkedin"
								 title="linkedin">
						</span>
					</a>
				</div>
			</div>
		</div>
		<hr class="sc-ckRZPU kRGcSJ">
		<div class="sc-hgKiOD bIferO">
			<div class="sc-fivaXQ bYngFR">
				<div class="sc-fivaXQ bYngFR mvillage-more">
					<!-- <div class="body-1-semi-bold-f16a24" onclick="toggleCollapse()">
						M VILLAGE MORE <span class="plus-icon">+</span>
					</div>
					<div class="content-wrapper body-2-regular-white" id="collapseContent">
						<a href="https://vieclam.mvillage.vn">Đặc quyền hội viên</a>
						<a href="https://vieclam.mvillage.vn">Chính sách & Điều khoản MORE</a>
					</div> -->
					<div class="body-1-semi-bold-f16a24 d-none d-md-block">
						M VILLAGE MORE
						<div class="content-wrapper body-2-regular-white" style="margin-top: 11px;">
							<a href="https://vieclam.mvillage.vn">Đặc quyền hội viên</a>
							<a href="https://vieclam.mvillage.vn">Chính sách & Điều khoản MORE</a>
						</div>
					</div>

					<!-- Trigger for Collapsible Section (visible only on small screens) -->
					<div class="body-1-semi-bold-f16a24 d-flex d-sm-none align-items-center" data-toggle="collapse"
						 href="#collapseLinks1" role="button" aria-expanded="false" aria-controls="collapseLinks1"
						 style="cursor: pointer; margin-bottom: -17px;">
						M VILLAGE MORE
						<span class="plus-icon" style="padding-left: 150px;">+</span>
					</div>

					<!-- Collapsible Content (visible only on small screens) -->
					<div class="collapse" id="collapseLinks1">
						<div class="content-wrapper body-2-regular-white">
							<a href="https://vieclam.mvillage.vn" style="margin-top: 7px;">Đặc quyền hội viên</a>
							<a href="https://vieclam.mvillage.vn">Chính sách & Điều khoản MORE</a>
						</div>
					</div>
				</div>
				<div class="sc-fivaXQ bYngFR mvillage">
					<!-- <div class="body-1-semi-bold-f16a24">M VILLAGE</div>
					<div class="content-wrapper body-2-regular-white">
						<a href="https://vieclam.mvillage.vn">Về chúng tôi</a>
						<a href="https://vieclam.mvillage.vn">Tuyển dụng</a>
						<a>Đăng nhập/Đăng ký</a>
					</div> -->
					<!-- Content visible on all screens -->
					<div class="body-1-semi-bold-f16a24 d-none d-md-block">
						M VILLAGE
						<div class="content-wrapper body-2-regular-white" style="margin-top: 11px;">
							<a href="https://vieclam.mvillage.vn">Về chúng tôi</a>
							<a href="https://vieclam.mvillage.vn">Tuyển dụng</a>
							<a href="#">Đăng nhập/Đăng ký</a>
						</div>
					</div>

					<!-- Trigger for Collapsible Section (visible only on small screens) -->
					<div class="body-1-semi-bold-f16a24 d-flex d-sm-none align-items-center" data-toggle="collapse"
						 href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks"
						 style="cursor: pointer;">
						M VILLAGE
						<span class="plus-icon" style="padding-left: 202px" ;>+</span>
					</div>

					<!-- Collapsible Content (visible only on small screens) -->
					<div class="collapse" id="collapseLinks">
						<div class="content-wrapper body-2-regular-white">
							<a href="https://vieclam.mvillage.vn">Về chúng tôi</a>
							<a href="https://vieclam.mvillage.vn">Tuyển dụng</a>
							<a href="#">Đăng nhập/Đăng ký</a>
						</div>
					</div>


				</div>
			</div>
			<div class="sc-fivaXQ bYngFR">
				<!-- <div class="sc-fivaXQ bYngFR">
					<div class="body-1-semi-bold-f16a24">ĐẶT PHÒNG</div>
					<div class="content-wrapper body-2-regular-white">
						<a href="https://vieclam.mvillage.vn">Lưu trú dài hạn</a>
					</div>
				</div> -->
				<div class="body-1-semi-bold-f16a24 d-none d-md-block">
					ĐẶT PHÒNG
					<div class="content-wrapper body-2-regular-white" style="margin-top: 11px;">
						<a href="https://vieclam.mvillage.vn">Lưu trú dài hạn</a>
					</div>
				</div>

				<!-- Trigger for Collapsible Section (visible only on small screens) -->
				<div class="body-1-semi-bold-f16a24 d-flex d-sm-none align-items-center" data-toggle="collapse"
					 href="#collapseLinks2" role="button" aria-expanded="false" aria-controls="collapseLinks2"
					 style="cursor: pointer;">
					ĐẶT PHÒNG
					<span class="plus-icon" style="padding-left: 192px;">+</span>
				</div>

				<!-- Collapsible Content (visible only on small screens) -->
				<div class="collapse" id="collapseLinks2">
					<div class="content-wrapper body-2-regular-white">
						<a href="https://vieclam.mvillage.vn">Lưu trú dài hạn</a>
					</div>
				</div>

				<div class="sc-fivaXQ bYngFR">
					<!-- <div class="body-1-semi-bold-f16a24">CHÍNH SÁCH</div>
					<div class="content-wrapper body-2-regular-white">
						<a href="https://vieclam.mvillage.vn">Chính sách bảo mật</a>
						<a href="https://vieclam.mvillage.vn">Chính sách giao và nhận phòng</a>
						<a href="https://vieclam.mvillage.vn">Chính sách đổi, trả phòng và hoàn
							tiền</a>
						<a href="https://vieclam.mvillage.vn">Hỏi đáp - FAQs</a>
					</div> -->
					<div class="body-1-semi-bold-f16a24 d-none d-md-block">
						CHÍNH SÁCH
						<div class="content-wrapper body-2-regular-white" style="margin-top: 11px;">
							<a href="https://vieclam.mvillage.vn">Chính sách bảo mật</a>
							<a href="https://vieclam.mvillage.vn">Chính sách giao và nhận phòng</a>
							<a href="https://vieclam.mvillage.vn">
								Chính sách đổi, trả phòng và hoàn
								tiền
							</a>
							<a href="https://vieclam.mvillage.vn">Hỏi đáp - FAQs</a>
						</div>
					</div>

					<!-- Trigger for Collapsible Section (visible only on small screens) -->
					<div class="body-1-semi-bold-f16a24 d-flex d-sm-none align-items-center" data-toggle="collapse"
						 href="#collapseLinks3" role="button" aria-expanded="false" aria-controls="collapseLinks3"
						 style="cursor: pointer; margin-top: -17px;">
						CHÍNH SÁCH
						<span class="plus-icon" style="padding-left: 190px;">+</span>
					</div>

					<!-- Collapsible Content (visible only on small screens) -->
					<div class="collapse" id="collapseLinks3">
						<div class="content-wrapper body-2-regular-white">
							<a href="https://vieclam.mvillage.vn">Chính sách bảo mật</a>
							<a href="https://vieclam.mvillage.vn">Chính sách giao và nhận phòng</a>
							<a href="https://vieclam.mvillage.vn">
								Chính sách đổi, trả phòng và hoàn
								tiền
							</a>
							<a href="https://vieclam.mvillage.vn">Hỏi đáp - FAQs</a>
						</div>
					</div>
				</div>
			</div>
			<div class="sc-fivaXQ bYngFR">
				<div class="sc-hKTqa geYlSB">

					<div class="download-wrapper">
						<div class="title-sub1-regular-c9cbcc">
							Tải Ứng dụng M Village - Khám phá
							ưu đãi ngay!
						</div>
						<div class="download">
							<a href="https://apps.apple.com/vn/app/m-village/id6458690802">
								<span class=" lazy-load-image-background blur lazy-load-image-loaded"
									  style="color: transparent; display: inline-block; height: 32px; width: 100px;">
									<img src="/Themes/DefaultClean/Content/images/app-store-download.png" width="100" height="32">
								</span>
							</a>
							<a href="https://play.google.com/store/apps/details?id=com.mvillage.app&amp;hl=en-VN">
								<span class=" lazy-load-image-background blur lazy-load-image-loaded"
									  style="color: transparent; display: inline-block; height: 32px; width: 100px;">
									<img src="/Themes/DefaultClean/Content/images/google-play-download.png" width="100" height="32">
								</span>
							</a>
						</div>
					</div>
					</a>
				</div>
				<div class="body-1-semi-bold-f16a24">LIÊN HỆ</div>
				<div class="content-wrapper body-2-regular-white">
					<div>
						Giấy phép Dịch vụ Lưu Trú số 256/GCN, ngày cấp 05-07-2023, nơi cấp Công
						An Thành phố Hồ Chí
						Minh
					</div>
				</div>
				<a href="http://online.gov.vn/Home/WebDetails/108792">
					<img src="/Themes/DefaultClean/Content/images/gov-logo-sale-noti.png" class="sc-lgarKF gPedic">
				</a>
			</div>
		</div>
		<div class="sc-gfqkcP WhDkz">
			<hr class="sc-ckRZPU kRGcSJ">
			<div class="legal-container">
				<div class="title-sub1-regular-white">
					<span>
						© CÔNG TY CỔ PHẦN MVILLAGE<br>Mã số doanh nghiệp: 0316527995. Giấy
						chứng nhận đăng ký
						doanh nghiệp do Sở Kế hoạch và Đầu tư TP Hồ Chí Minh cấp ngày
						12/10/2020.
					</span>
				</div>
			</div>
		</div>
	</div>
</div> *@

